<div class="configuration-message" style="padding: 1rem">
	<h1 style="margin-bottom: 1rem">Configure Viewer</h1>
	<ul>
		<li>Drag <b>id</b> from the 'Data_Latest' table into the <b>Ids</b> field</li>
		<li>Drag <b>fileid</b> measure from the 'Measure Table' into the <b>File Id</b> field</li>
		<li>Drag <b>api_key</b> measure from the 'Measure Table' into the <b>API Key</b> field</li>
		<li>Drag <b>server_url</b> measure from the 'Measure Table' into the <b>Server URL</b> field</li>
	</ul>
</div>
